.backgroundColumn {
  display: flex;
  /* flex-direction: column; */
  gap: 0.25rem;
}

.appearancePanel,
.personalityPanel,
.backstoryPanel {
  border: solid 1px;
  display: inline-flex;
  flex-direction: column;
  /* width: 200px; */
  width: 100%;
  padding: 0.25rem;
}
.backgroundSpanKey {
  margin-right: 0.25rem;
  font-weight: 700;
  font-size: 0.7rem;
}
.backgroundSpanValue {
  font-size: 0.7rem;
  white-space: pre-wrap;
}

.appearanceCard {
  display: flex;
  margin-bottom: 0.1rem;
}

.backgroundInputRow {
  width: 75px;
  display: flex;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  height: 15px;
}
.backgroundTextInput {
  border: none;
  width: 70%;
  padding-left: 0.5rem;
}
.backgroundOkBtn {
  background-color: #3e79ad;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
  width: 30%;
  padding-left: 0.2rem;
  cursor: pointer;
}

.italicNote {
  font-size: 0.7rem;
  font-style: italic;
}

.backgroundBottomRow {
  display: flex;
}

.storagePanel {
  border: solid 1px;
  padding: 0.25rem;
  margin: 0.25rem 0.25rem 0 0;
  flex: 1;
}

.levelUpPanel {
  border: solid 1px;
  padding: 0.25rem;
  margin-top: 0.25rem;
  width: 305px;
  margin-left: auto;
}

.pointBuyWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem 0;
}
.pointBuyRow {
  display: flex;
  justify-content: space-between;
}

.pointBuyBtn {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #6a0c0c;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  text-shadow: 4px 2px 5px black, -2px -2px 15px black;
  box-shadow: 0px 0px 2px 2px black;
}
.pointBuyValue {
  margin-right: 2rem;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
