/* Character Info Component */
.characterInfoContainer {
  display: flex;
  /* border: solid 1px; */
  padding: 0.5em;
  /* margin: 0.25em; */
  align-items: center;
}
.characterInfoCard {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}
.characterInfoKey {
  font-size: 0.7rem;
}
.characterInfoValue {
  font-weight: 700;
  text-shadow: 1px 1px 2px pink;
  cursor: pointer;
  user-select: none;
}

.characterInfoCard input {
  width: 100px;
}
.characterInfoCard input:focus {
  outline: none;
}
