.skillPanel {
  padding: 0.5rem;
  border: solid 1px;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  width: 450px;
  flex: 1;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

#skill-select {
  max-width: 130px;
}
